.category-preview-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 64px;

	h1 {
		width: 100%;
		text-align: left;
		padding: 8px 0;
	}

	.title {
		width: fit-content;
		font-size: 28px;
		cursor: pointer;
		transition: all 0.3s ease;
		padding: 8px;

		&:hover {
			background-color: black;
			transform: rotate(4deg) scale(1.05);

			a {
				color: white;
			}
		}
	}

	.preview {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 20px;
	}
}
